.venv-pm25/
.env

.pipeline-scripts/__pycache__/
*.pyc
*.pyo

build/
dist/
*.egg-info

.idea/
.vscode/

.DS_Store

*.log
*.tmp

.src/config.py

.data/viirs-yearly-summary/desktop.ini

setup.py
src.egg-info

.gitignore

.notevooks/