polars==0.19.3
pandas==2.1.0
beautifulsoup4==4.12.2
newspaper3k==0.2.8
nltk==3.8.1
SQLAlchemy==2.0.20
psycopg2-binary==2.9.7
psycopg-binary==3.1.10
connectorx
adbc-driver-sqlite
gnews==0.3.1
langchain==0.0.230
pydantic==1.10.8
openai==0.27.8